.report-card-main {
    background-color: #EFEFEF;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.report-card-top {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: right;
    align-items: last baseline;
}

.report-card-rightBox {
    width: 25%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: right;
    margin-right:130px;
    margin-top:60px;
}

.report-card-centered-image {
    max-width: 90%;
    max-height: 30px;
    margin-left:9px;
}

.report-card-p {
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
}

.report-card-dropdown {
    width: 40px;
    margin-left: 20px;
}

.report-card-option {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    width: 140px;
    margin-left: -3px;
    font-weight: 600;
}

.report-card-calendar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    margin-right: 5px;
}
.report-card-lower {
    /* background-color: pink; */
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:40px;
}
.report-card-info{
    width:22%;
    height:150px;
    display:flex;
    background-color:#FFFFFF;
    margin:17px;
    margin-top:-70px;
}
.report-card-info1{
    width:22%;
    height:150px;
    display:flex;
    background-color:#FFFFFF;
    margin:17px;
    margin-top:-70px;
}
.report-card-info2{
    width:22%;
    height:150px;
    display:flex;
    background-color:#FFFFFF;
    margin:17px;
    margin-top:-70px;
}
.report-card-up{
    width:20%;
    height:80%;
    display:flex;
    align-items:center;
    /* justify-content:center; */
}
.report-card-upimg{
    max-width: 90%;
    max-height: 40px;
}
.report-card-text{
    width:60%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.report-card-value{
    font-weight: bolder;
    font-size:25px;
    text-align: center;
    font-weight: bold;
    color:#000000
}
.report-card-lowerBox{
    width:60%;
    flex-direction: column;
    background-color:#EFEFEF
}
.report-card-bottomText{
    font-weight: bolder;
}
/* Add this new CSS class */
.report-card-text-under-value {
    font-size:18px; /* Adjust the font size as needed */
    color: #000000; /* Adjust the color as needed */
    margin-top: 8px; /* Add some margin to separate it from the value */
    text-align: center;
}
.report-card-span{
    font-weight:900;
}
.report-card-vertical-flip {
    transform: scaleY(-1);
    max-width: 90%;
    max-height: 40px;
}
.report-card-value1{
    font-weight: bolder;
    font-size:25px;
    text-align: center;
    font-weight: bold;
    color:#FF0000;
}
.report-card-upimg1{
    max-width: 90%;
    max-height: 50px;
    margin-right:5px;
}
.report-card-up1{
    width:30%;
    height:80%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.report-card-sector{
    width:100%;
    height:70vh;
    background-color:#EFEFEF;
}
.report-card-right-sector{
    width:100%;
    height:30vh;
    background-color: #EFEFEF ;
    display:flex;
    align-items: center;
}
.legend {
    list-style: none;
    padding: 0;
}

.legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
}

.legend-color {
    width: 40px;
    height: 18px;
    margin-right: 10px;
    display: inline-block;
}
.legend-container{
    width:20%;
    height:auto;
    flex-direction: row;
    margin:30px;
}
.report-card-update-button{
    width:30%;
    height:20px;
}
.report-card-button-box{
    width:30%;
    display:flex;
    justify-content: right;
}
@media (max-width: 600px) {
    .report-card-main {
        background-color: #EFEFEF;
        width: 100%; /* Set the width to 100% to fill the screen */
        height: 120vh;
        display: flex;
        flex-direction: column;
    }

    .report-card-up{
        width:30%;
    }
    .report-card-top {
        height: auto;
        display:flex;
        justify-content: center;
    }
    .report-card-rightBox {
        width: 100%;
        display:flex;
        justify-content: center;
    }
    .report-card-lower {
        padding: 10px;
        display:flex;
        flex-wrap:wrap;
        height:auto;
    }
    .report-card-info {
        margin: 20px;
        width:26%;
    }
    .report-card-value {
        font-size: 20px;
    }
    .report-card-upimg {
        max-height: 40px;
    }
    .report-card-info1{
        margin-top:20px;
        height:120px;
        width:40%;
    }
    .report-card-info2{
        margin-top:40px;
        width:26%;
    }

}
/* Define a media query for screens wider than 490px */
@media (min-width: 491px) {
    .report-card-info {
        width: 22%; /* Keep the width for screens wider than 490px */
    }
    .report-card-info1 {
        width: 22%; /* Keep the width for screens wider than 490px */
    }
    .report-card-info2 {
        width: 22%; /* Keep the width for screens wider than 490px */

    }
    .report-card-lower {
        display: flex;
    }
}

/* Define a media query for screens 490px and narrower */
@media (max-width: 490px) {
    .report-card-info,
    .report-card-info1,
    .report-card-info2 {
        width: 25%; /* Stack the three boxes for screens 490px and narrower */
    }
    .report-card-lower {
        display: flex;
        flex-wrap: wrap;
        background-color: #EFEFEF;
    }
    .report-card-value1 {
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        color: #FF0000;
    }
    .report-card-value{
        font-size:20px;
    }
    .report-card-text-under-value{
        font-size:15px;
    }
    .report-card-upimg{
        max-width: 70%;
        max-height: 40px;
    }

}
/* Define a media query for screens 320px and 321px */
@media (max-width: 321px) {
    .report-card-main {
        background-color: #EFEFEF;
        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column;
    }

    .report-card-top {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .report-card-rightBox {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }

    .report-card-centered-image {
        max-width: 90%;
        max-height: 20px; /* Reduce image height */
    }

    .report-card-p {
        margin-right: 5px; /* Adjust margin */
        font-size: 12px;
        font-weight: bold;
    }

    .report-card-dropdown {
        width: 70px; /* Increase width for better visibility */
        font-size: 12px;
    }

    .report-card-option {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 5px;
        font-size: 12px;
        width: 90px;
    }

    .report-card-calendar {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px; /* Reduce calendar icon size */
        height: auto;
        margin-right: 5px;
    }

    .report-card-lower {
        width: 100%;
        height: 250px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .report-card-info,
    .report-card-info1 {
        width: 30%;
        height: 120px; /* Reduce box height for better visibility */
        display: flex;
        background-color: #FFFFFF;
        margin: 5px;
        margin-top: 10px;
    }
    .report-card-info2{
        width: 30%;
        height: 120px; /* Reduce box height for better visibility */
        display: flex;
        background-color: #FFFFFF;
        margin: 5px;
        margin-top: 20px;
    }

    .report-card-up {
        width: 100%;
        height: 60%; /* Reduce height to fit 2 boxes vertically */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .report-card-upimg,
    .report-card-upimg1 {
        max-width: 90%;
        max-height: 20px; /* Reduce image height */
        margin-right: 3px; /* Adjust margin */
    }

    .report-card-text {
        width: 100%;
        height: 40%; /* Reduce height to fit 2 boxes vertically */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-right: 10px;
    }

    .report-card-value,
    .report-card-value1 {
        font-weight: bolder;
        font-size: 14px; /* Reduce font size for better visibility */
        text-align: center;
        font-weight: bold;
        color: #000000;
    }

    .report-card-lowerBox {
        width: 100%;
        flex-direction: column;
        background-color: #EFEFEF;
    }

    .report-card-bottomText {
        font-weight: bolder;
    }

    .report-card-text-under-value {
        font-size: 12px; /* Adjust font size for better visibility */
        color: #000000;
        margin-top: 5px;
        text-align: center;
    }

    .report-card-span {
        font-weight: 900;
    }

    .report-card-vertical-flip {
        transform: scaleY(-1);
        max-width: 90%;
        max-height: 20px; /* Reduce image height */
    }

    .report-card-sector {
        width: 100%;
        height: 70vh;
        background-color: #EFEFEF;
    }

    .report-card-right-sector {
        width: 100%;
        height: 70vh;
        background-color: #EFEFEF;
        display: flex;
        align-items: center;
    }

    .legend {
        list-style: none;
        padding: 0;
    }

    .legend li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .legend-color {
        width: 30px; /* Reduce color box size */
        height: 12px; /* Reduce color box size */
        margin-right: 5px; /* Adjust margin */
        display: inline-block;
    }

    .legend-container {
        width: 100%;
        height: auto;
        flex-direction: row;
        margin: 5px;
    }
}
/* Define a media query for screens 375px wide */
@media (max-width: 375px) {
    .report-card-main {
        background-color: #EFEFEF;
        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column;
    }

    .report-card-top {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .report-card-rightBox {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }

    .report-card-centered-image {
        max-width: 90%;
        max-height: 20px; /* Reduce image height */
    }

    .report-card-p {
        margin-right: 5px; /* Adjust margin */
        font-size: 12px;
        font-weight: bold;
    }

    .report-card-dropdown {
        width: 70px; /* Increase width for better visibility */
        font-size: 12px;
    }

    .report-card-option {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 5px;
        font-size: 12px;
        width: 90px;
    }

    .report-card-calendar {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px; /* Reduce calendar icon size */
        height: auto;
        margin-right: 5px;
    }

    .report-card-lower {
        width: 100%;
        height: 250px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .report-card-info,
    .report-card-info1,
    .report-card-info2 {
        width: 30%;
        height: 120px; /* Reduce box height for better visibility */
        display: flex;
        background-color: #FFFFFF;
        margin: 5px;
        margin-top: 10px;
    }

    .report-card-up {
        width: 100%;
        height: 60%; /* Reduce height to fit 2 boxes vertically */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .report-card-upimg,
    .report-card-upimg1 {
        max-width: 90%;
        max-height: 20px; /* Reduce image height */
        margin-right: 3px; /* Adjust margin */
    }

    .report-card-text {
        width: 100%;
        height: 40%; /* Reduce height to fit 2 boxes vertically */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-right: 10px;
    }

    .report-card-value,
    .report-card-value1 {
        font-weight: bolder;
        font-size: 14px; /* Reduce font size for better visibility */
        text-align: center;
        font-weight: bold;
        color: #000000;
    }

    .report-card-lowerBox {
        width: 100%;
        flex-direction: column;
        background-color: #EFEFEF;
    }

    .report-card-bottomText {
        font-weight: bolder;
    }

    .report-card-text-under-value {
        font-size: 12px; /* Adjust font size for better visibility */
        color: #000000;
        margin-top: 5px;
        text-align: center;
    }

    .report-card-span {
        font-weight: 900;
    }

    .report-card-vertical-flip {
        transform: scaleY(-1);
        max-width: 90%;
        max-height: 20px; /* Reduce image height */
    }

    .report-card-sector {
        width: 100%;
        height: 70vh;
        background-color: #EFEFEF;
    }

    .report-card-right-sector {
        width: 100%;
        height: 70vh;
        background-color: #EFEFEF;
        display: flex;
        align-items: center;
    }

    .legend {
        list-style: none;
        padding: 0;
    }

    .legend li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .legend-color {
        width: 30px; /* Reduce color box size */
        height: 12px; /* Reduce color box size */
        margin-right: 5px; /* Adjust margin */
        display: inline-block;
    }

    .legend-container {
        width: 100%;
        height: auto;
        flex-direction: row;
        margin: 5px;
    }
    .report-card-option{
        width:100px;
    }
}
