/* YourComponent.css */

.new-goal-cont {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.new-goal-title {
    font-size: 33px;
    color: #D8275A;
}

.new-goal-form {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.new-goal-label {
    color: #D8275A;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
}

.new-goal-input {
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 12px;
    height: 34px;
}
.new-goal-textarea{
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 12px;
    height: 84px;
    resize: none;
}
.new-goal-button {
    width: 98px;
    height: 44px;
    background-color: #D8275A;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}
.new-goal-btn-center{
    display: flex;
    justify-content: center;
}

/* Optional: Add more styles to the button on hover or focus */
.new-goal-button:hover,
.new-goal-button:focus {
    background-color: #FF3F7B;
}
